*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

[class*="__container"] {
  max-width: 1087px;
  margin: 0 auto;
  padding: 0 10px;
}

@media screen and (min-width: 768px) {
  [class*="__container"] {
    padding: 0 15px;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .header__container {
    height: 114px;
  }
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__logo {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  font-family: Rubik;
  font-weight: bold;
  position: relative;
  z-index: 5;
}

.header__logo svg {
  margin-right: 4px;
}

.header__logo span {
  color: #EC5863;
}

.header__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 5;
}

@media screen and (min-width: 992px) {
  .header__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 252px;
            flex: 0 0 252px;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.menu__body {
  position: fixed;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  background-color: #FCFDFE;
  -webkit-transition: top ease 0.3s;
  transition: top ease 0.3s;
}

.menu__body.active {
  top: 0;
}

@media screen and (min-width: 768px) {
  .menu__body {
    position: relative;
    width: auto;
    height: auto;
    background-color: transparent;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .menu__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
  }
}

.menu__item {
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .menu__item {
    margin-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .menu__item:last-child {
    margin-right: 30px;
  }
}

.menu__link {
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.2em;
  letter-spacing: 0.14em;
  color: #000;
  text-transform: uppercase;
  padding: 15px;
  display: block;
}

@media screen and (min-width: 768px) {
  .menu__link {
    font-size: 10px;
    padding: 10px;
  }
}

.button {
  display: inline-block;
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.14em;
  color: #FCFDFE;
  padding: 14px 20px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #EC5863;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

@media screen and (min-width: 768px) {
  .button {
    padding: 14px 30px;
  }
}

.button:hover {
  background: #f1868e;
}

.button--blue {
  background: #4285F4;
}

.button--blue:hover {
  background: #72a4f7;
}

.burger {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }
}

.burger::before, .burger::after {
  content: '';
  background-color: #000;
  height: 2px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.burger span {
  background-color: #000;
  height: 2px;
  -webkit-transition: opacity ease 0.3s;
  transition: opacity ease 0.3s;
}

.burger.active span {
  opacity: 0;
}

.burger.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: relative;
  top: 9px;
}

.burger.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: relative;
  top: -7px;
}

/* section */
.get-started {
  background-color: #FAFBFD;
}

.get-started__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 80px 15px 30px 15px;
}

@media screen and (min-width: 768px) {
  .get-started__container {
    padding: 150px 15px 50px 15px;
  }
}

.get-started__container:before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100%;
  right: 170px;
  top: 0;
  background: #EC5863;
  border-radius: 30px 0px 0px 30px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  display: none;
}

@media screen and (min-width: 768px) {
  .get-started__container:before {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .get-started__container:before {
    right: 252px;
  }
}

.get-started__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 0 20px;
}

@media screen and (min-width: 576px) {
  .get-started__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 47%;
            flex: 0 1 47%;
  }
}

.get-started__block-text {
  max-width: none;
}

@media screen and (min-width: 768px) {
  .get-started__block-text {
    max-width: 410px;
  }
}

.get-started__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  z-index: 3;
  padding: 20px 0;
}

@media screen and (min-width: 576px) {
  .get-started__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 53%;
            flex: 0 1 53%;
    padding: 0;
  }
}

.get-started__img img {
  width: 100%;
}

.get-started__video {
  padding: 0;
  width: 100%;
}

@media screen and (min-width: 576px) {
  .get-started__video {
    padding: 20px 0 0 20px;
  }
}

@media screen and (min-width: 768px) {
  .get-started__video {
    padding: 60px 0 0 20px;
  }
}

.block-text {
  text-align: center;
}

@media screen and (min-width: 576px) {
  .block-text {
    text-align: initial;
  }
}

.block-text__title {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 126%;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  color: #000;
}

@media screen and (min-width: 768px) {
  .block-text__title {
    font-size: 44px;
  }
}

.block-text__title:not(:last-child) {
  margin: 0 0 12px 0;
}

.block-text__title--blue {
  color: #4285F4;
}

.block-text__title--red {
  color: #EC5863;
}

.block-text__text {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 138.5%;
  letter-spacing: 0.08em;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  color: #616161;
}

.block-text__text:not(:last-child) {
  margin: 0 0 24px 0;
}

.get-started-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .get-started-video {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.get-started-video__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 44px;
          flex: 0 0 44px;
}

.get-started-video__body {
  margin: 0 0 0 12px;
}

.get-started-video__title {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 126%;
  letter-spacing: 0.08em;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  color: #B0B0B0;
}

.get-started-video__title:not(:last-child) {
  margin: 0 0 5px 0;
}

.get-started-video__text {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 126%;
  letter-spacing: 0.165em;
  text-transform: uppercase;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  color: #000;
}

.get-started-video__text:not(:last-child) {
  margin: 0 0 5px 0;
}

/* stay safe */
.stay-safe {
  padding: 35px 0;
}

@media screen and (min-width: 768px) {
  .stay-safe {
    padding: 79px 0;
  }
}

.stay-safe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media screen and (min-width: 768px) {
  .stay-safe__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.stay-safe__app {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0;
  position: relative;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .stay-safe__app {
    text-align: initial;
    margin: 0 0 0 48px;
  }
}

.stay-safe__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0 0 30px 0;
}

@media screen and (min-width: 768px) {
  .stay-safe__content {
    margin: 0;
  }
}

.stay-safe__block-text {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .stay-safe__block-text {
    text-align: initial;
  }
}

.app {
  text-align: center;
  position: relative;
  display: inline-block;
  width: 300px;
  padding: 56px 38px 27px 44px;
}

@media screen and (min-width: 768px) {
  .app {
    width: 337px;
    padding: 56px 38px 27px 71px;
  }
}

.app__img {
  position: relative;
}

.app__img::after {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 11px;
  background: rgba(240, 240, 240, 0.49);
  border-radius: 16px;
  width: calc( 100% - 22px);
  height: 27px;
  z-index: 2;
}

.app__img img {
  border-radius: 16px;
  -webkit-box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.12);
          box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.12);
  position: relative;
  z-index: 3;
}

.app__item {
  position: absolute;
  background-color: #EC5863;
  border-radius: 30px;
  width: 77px;
  height: 77px;
}

.app__item--top {
  top: 0;
  left: 0;
  width: 147px;
  height: 147px;
}

.app__item--midle {
  bottom: 107px;
  right: 0;
}

.app__item--bottom {
  bottom: 0;
  left: 15px;
}

@media screen and (min-width: 768px) {
  .app__item--bottom {
    left: 33px;
  }
}

.talk-experts {
  background-color: #FAFBFD;
  padding: 35px 0;
}

@media screen and (min-width: 768px) {
  .talk-experts {
    padding: 53px 28px 116px 40px;
  }
}

.talk-experts__container {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.talk-experts__counter {
  position: relative;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin-bottom: 30px;
  width: 100%;
  padding: 50px 30px;
}

@media screen and (min-width: 768px) {
  .talk-experts__counter {
    width: auto;
    padding: 50px 75px 32px 31px;
    margin-bottom: 46px;
  }
}

.talk-experts__square-counter {
  position: absolute;
  background-color: #EC5863;
  border-radius: 30px;
}

.talk-experts__square-counter--left {
  width: 66px;
  height: 66px;
  border-radius: 16px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  left: 13px;
  bottom: 13px;
}

.talk-experts__square-counter--top {
  width: 97px;
  height: 97px;
  -webkit-transform: rotate(105deg);
          transform: rotate(105deg);
  top: 13px;
  left: 50%;
}

@media screen and (min-width: 576px) {
  .talk-experts__square-counter--top {
    left: 255px;
  }
}

.talk-experts__square-counter--right {
  width: 127px;
  height: 127px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  right: 20px;
  bottom: 23px;
}

.talk-experts__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  margin-bottom: 35px;
}

@media screen and (min-width: 768px) {
  .talk-experts__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 47%;
            flex: 0 1 47%;
    padding: 0 10px 0 0;
    margin: 0;
  }
}

@media screen and (min-width: 992px) {
  .talk-experts__content {
    padding: 0 60px 0 0;
  }
}

.talk-experts__block-text {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .talk-experts__block-text {
    text-align: left;
  }
}

.talk-experts__video {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .talk-experts__video {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 53%;
            flex: 0 1 53%;
    text-align: initial;
  }
}

.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
          box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
  border-radius: 16px;
  position: relative;
  z-index: 3;
  padding: 28px;
  width: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (min-width: 768px) {
  .counter {
    width: 654px;
    padding: 28px 80px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.counter__item {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.14em;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  color: #EC5863;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

@media screen and (min-width: 576px) {
  .counter__item {
    padding: 0;
  }
}

.counter__item:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.counter__caption {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.37em;
  text-transform: uppercase;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  color: #000;
  margin-top: 5px;
}

.video-block {
  padding: 24px;
  background-color: #fff;
  display: inline-block;
  -webkit-box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
          box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
  position: relative;
}

@media screen and (min-width: 576px) {
  .video-block {
    padding: 24px 94px;
  }
}

@media screen and (min-width: 768px) {
  .video-block {
    padding: 24px;
  }
}

@media screen and (min-width: 992px) {
  .video-block {
    padding: 24px 64px;
  }
}

@media screen and (min-width: 1200px) {
  .video-block {
    padding: 24px 94px;
  }
}

.video-block__play {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  cursor: pointer;
}

.video-block__play:hover {
  width: 65px;
  height: 65px;
}

.video-block__image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
/*# sourceMappingURL=main.css.map */